html[data-theme="highContrast"] {
  --color-primary: theme("colors.white");
  --color-secondary: theme("colors.white");
  --color-typography: theme("colors.black");
  --color-description: theme("colors.black");
  --color-border: theme("colors.sky.700");
  --shadow: rgba(0, 0, 0, 0);
}
