html[data-theme="light"] {
  --color-primary: theme("colors.zinc.50");
  --color-secondary: theme("colors.zinc.100");
  --color-typography: theme("colors.zinc.950");
  --color-description: theme("colors.zinc.900");
  --color-border: theme("colors.zinc.200/90");
  --shadow: rgba(0, 0, 0, 0.050)
}
